
  .sscrollable-table-container {
    max-height: 60vh; /* Set a maximum height for the table container */
    margin-left: -230px;
    margin-right: -200px;
  }
  
  

  .ahentereservation-table {
    margin-bottom: 200px; /* Adjust as needed */
    margin-left: 1020px; /* Adjust as needed */
    transform: scale(0.6);
  }
  
  .table-containers {
    max-height: 60vh; /* Set a maximum height for the table container */
    margin-left: -260px;
    margin-right: -200px;
    overflow-x: auto; /* Enable horizontal scrolling when content exceeds width */
    overflow-y: scroll; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Set scrollbar width to thin */
    scrollbar-color: transparent transparent; /* Set scrollbar color to transparent */
  }







  .reservation-table {
    width: 100%; /* Make the table take the full width of the container */
    table-layout: fixed; /* Use fixed layout to respect column widths */
  }
  
  .reservation-table th,
  .reservation-table td {
    text-align: center; /* Center align text in table cells */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .reservation-table th {
    background-color: #f8f9fa; /* Light background for header */
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top */
    z-index: 1; /* Ensure it stays above other content */
  }
  
  /* Adjust specific column widths if needed */
  .reservation-table th:nth-child(1),
  .reservation-table td:nth-child(1) {
    width: 110px;
  }
  
  .reservation-table th:nth-child(2),
  .reservation-table td:nth-child(2) {
    width: 119px;
  }
  
  .reservation-table th:nth-child(3),
  .reservation-table td:nth-child(3) {
    width: 150px;
  }
  
  .reservation-table th:nth-child(4),
  .reservation-table td:nth-child(4) {
    width: 100px;
  }
  
  .reservation-table th:nth-child(5),
  .reservation-table td:nth-child(5) {
    width: 120px;
  }
  
  .reservation-table th:nth-child(6),
  .reservation-table td:nth-child(6) {
    width: 110px;
  }
  
  .reservation-table th:nth-child(7),
  .reservation-table td:nth-child(7) {
    width: 100px;
  }
  
  .reservation-table th:nth-child(8),
  .reservation-table td:nth-child(8) {
    width: 100px;
  }
  
  .reservation-table th:nth-child(9),
  .reservation-table td:nth-child(9) {
    width: 90px;
  }
  
  .reservation-table th:nth-child(10),
  .reservation-table td:nth-child(10) {
    width: 146px;
  }

  
.ahente-container {
  margin: -20px -21px -120px -21px; /* top, right, bottom, left */
}

.ahente-reservation-table {
  width: 100%; /* Use percentage for responsive design */
  max-width: 1999px; /* Set a maximum width if needed */
  margin: 20px auto 0 auto; /* top, right, bottom, left */
  position: fixed; /* Fixes the table's position */
  left: 50%; /* Centers the table horizontally */
  transform: translateX(-50%); /* Adjusts positioning after centering */
}