.admin-container {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.sidebar {
  width: 200px; /* Adjust the width of the sidebar as needed */
  margin-right: 20px; /* Space between sidebar and main content */
}

.floor-room-container {
  flex-grow: 1; /* Allow this container to take up the remaining space */
  max-width:100%;
}

.floor-table {
  width: 200%; /* Ensure the table takes full width */
  margin-top: 20px; /* Add some margin for spacing */
  margin-left: -140px; /* Add left margin to the table */
}

.floor-table th,
.floor-table td {
  padding: 15px; /* Increase padding for better spacing */
  text-align: center; /* Center align text in table cells */
  border: 1px solid #dee2e6; /* Add a border to table cells */
}


.floor-table th {
  background-color: #f8f9fa; /* Light background for header */
  font-weight: bold; /* Make header text bold */
}

.floor-table tbody tr:hover {
  background-color: #f1f1f1; /* Change background color on hover */
}







.legend-items {
  display: flex;
  flex-direction: column;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Space between legend items */
}

.color-box {
  width: 20px; /* Width of the color box */
  height: 20px; /* Height of the color box */
  margin-right: 10px; /* Space between color box and label */
}

.error-message {
  color: red; /* Style for error messages */
  margin: 10px 0; /* Margin for error messages */
}

.section-header {
  margin-bottom: 10px; /* Space below section headers in modal */
}