.scrollable-table-container {
  max-height: 400px; /* Adjust based on your preferred table height */
  overflow-y: auto; /* Enable vertical scrolling */
  display: block;
}

.scrollable-table-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* For Firefox */
.scrollable-table-container {
  scrollbar-width: none; /* Hides the scrollbar */
  -ms-overflow-style: none; /* For Internet Explorer */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.manageredx-container {
  max-height: 400px; /* Adjust based on your preferred table height */
  transform: scale(0.6);
  display: block;
  width: 2000px
  
  
}