.container {
    margin-top: 100px;
  }
 
  .text-centers {
    white-space: nowrap; /* Keeps text on one line */
    margin-left: -279px;
    margin-bottom: 120px;
    font-size: 11px;
  }
  
 
  .search-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -189px;
    width: 100%; /* Reduces overall width */
    height: 5px; /* Adjust height */
    font-weight: bold;
}
  .search-group {
    flex-grow: 1;
    margin-right: 10px;
  }
 
  .search-input {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    padding: 8px 12px;
  }
 
  .search-input:focus {
    outline: none;
    border-color: #ca3433;
    box-shadow: 0 0 5px rgba(202, 52, 51, 0.2);
  }
 
  .add-btn {
    background-color: #ca3433;
    border: none;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-bottom: 13px;
  }

  .text-center {
   margin-top: -90px;
    font-size: 32px;
  }
 
  .add-btn:hover {
    background-color: #b52e30;
  }
 
  .agent-table {
    border-radius: 5px;
    overflow: hidden;
    margin-top: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(0.5);
    width: 2380px;
  }
 
  .agent-table th {
    background-color: #ca3433;
    color: white;
    padding: 12px;
    text-align: center;
    height: -5px;
  
  }
 
  .agent-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
 
  .agent-table tbody tr:hover {
    background-color: #f1f1f1;
  }
 
  .agent-table td {
    vertical-align: bottom;
    padding: 12px;
   height: -1px;
   font-size: 28px;
  }
 
  .edit-btn {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
 
  .edit-btn:hover {
    background-color: #0056b3;
  }
 
  .delete-btn {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
 
  .delete-btn:hover {
    background-color: #c82333;
  }
 
  .modal-header {
    background-color: #ca3433;
    color: white;
    border-bottom: none;
  }
 
  .modal-title {
    font-weight: bold;
  }
 
  .modal-body {
    padding: 20px;
    background-color: #f9f9f9;
  }
 
  .form-control {
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 10px;
  }
 
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
 
  button[type="submit"] {
    background-color: #ca3433;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
 
  button[type="submit"]:hover {
    background-color: #b52e30;
  }
 
  .position-relative {
    position: relative;
  }
 
  .caret-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  